.content-title-container
{
    margin-left: auto;
    margin-right: auto;
    width:800px;
    text-align: center;
    padding:30px 0 30px 0;
}

.content-title-container #subtitle
{
    color:#C0C0C0;
    padding-bottom:4px;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
}

#user-bar
{
    float: right;
    padding: 10px 10px 0 0;
}
