html
{
    min-width:1100px;
}

.content-title-container
{
    margin-left: auto;
    margin-right: auto;
    width:800px;
    text-align: center;
    padding:30px 0 30px 0;
}

.content-title-container #subtitle
{
    color:#C0C0C0;
    padding-bottom:4px;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
}

#user-bar
{
    float: right;
    padding: 10px 10px 0 0;
}

#user-listing
{
    width: 150px;
    -moz-box-shadow: 3px 3px 4px #E0E0E0;
    -webkit-box-shadow: 3px 3px 4px #E0E0E0;
    box-shadow: 3px 3px 4px #E0E0E0;
    height: 100%;
    background-color: #F5F5F5;
    float:left;
    overflow: auto;
}

#user-listing .user-listing-entry
{
    padding-left: 8px;
    font-size: 12px;
}
