#sections-list li
{
    display: inline;
    list-style-type: none;
    margin:0 10px 0 10px;
}

#sections-list li a
{
    color: #C0C0C0;
    padding: 3px;
}

#sections-list .section-message-counter
{
    background-color: #C0C0C0;
    color:white;
    padding: 3px;
}

#status-panel
{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

#status-panel .status-text
{
    text-align: center;
}
