.comment
{
    padding-bottom:15px;
}

.comment-header
{
    font-weight: bold;
}

#sections-list li
{
    display: inline;
    list-style-type: none;
    margin:0 10px 0 10px;
}

#sections-list li a
{
    color: #C0C0C0;
    padding: 3px;
}

#sections-list .section-comment-counter
{
    background-color: #C0C0C0;
    color:white;
    padding: 3px;
}

#status-panel
{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

#status-panel .status-text
{
    text-align: center;
}

#comment-panel-container
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:800px;
}

#comment-panel
{
    width:800px;
    text-align: left;
}

#add-comment-form
{
    padding-bottom: 20px;
}

#add-comment-form:hover #comment-input
{
    height:200px !important;
}

#comment-input:focus
{
    height:200px !important;
}

#comment-input
{
    width:100%;
    height:50px;
}

#comment-submit-button
{
    float:right;
}

#user-listing
{
    width: 150px;
    -moz-box-shadow: 3px 3px 4px #E0E0E0;
    -webkit-box-shadow: 3px 3px 4px #E0E0E0;
    box-shadow: 3px 3px 4px #E0E0E0;
    height: 100%;
    background-color: #F5F5F5;
    float:left;
    overflow: auto;
}

#user-listing .user-listing-entry
{
    padding-left: 8px;
    font-size: 12px;
}
