#sections-list li
{
    display: inline;
    list-style-type: none;
    margin:0 10px 0 10px;
}

#sections-list li a
{
    color: #C0C0C0;
    padding: 3px;
}

#sections-list .section-message-counter
{
    background-color: #C0C0C0;
    color:white;
    padding: 3px;
}

#status-panel
{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

#status-panel .status-text
{
    text-align: center;
}

#message-panel-container
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:800px;
}

#message-panel
{
    width:800px;
    text-align: left;
}

#add-message-form
{
    padding-bottom: 20px;
}

#add-message-form:hover #message-input
{
    height:200px !important;
}

#message-input:focus
{
    height:200px !important;
}

#message-input
{
    width:100%;
    height:50px;
}

#message-submit-button
{
    float:right;
}
