<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/base.css" />
        {% block head %}{% endblock %}
        <title>
            EHP Portfolios Private Comments: {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div id="user-bar">
            {% if user %}
                {{ user.email() }} -
                <a class="small-button" href="{{ logout_url }}">logout >></a>
                {% if is_admin %}
                 / <a class="small-button" href="/administer">administer >></a>
                {% endif %}
            {% else %}
                Not logged in
            {% endif %}
        </div>
        {% if flash_message %}
        <div id="flash-message-bar">{{ flash_message }}</div>
        {% endif %}
        <div id="content-bar">
            {% if is_reviewer %}
            <div id="user-listing">
                <h3>Portfolios</h3>
                {% for user in users %}
                <div class="user-listing-entry">
                    {% if user.first_name == owner_first_name and user.last_name == owner_last_name %}
                        [ {{ user.first_name }} {{ user.last_name }} ]
                    {% else %}
                        <a href="/portfolio/{{ user.safe_email }}/overview">{{ user.first_name }} {{ user.last_name }}</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>