{% extends "base.html" %}

{% block title %}{{ owner_name }} Portfolio{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/own_portfolio.css" />
{% endblock %}

{% block content %}
<div class="content-title-container">
    <h1 id="title">Comments on {{ owner_name }} Portfolio</h1>
    <div id="subtitle">
        <ul id="sections-list">
            <li>[ overview ]</li>
            {% for section in sections %}
            <li>
                <a href="/portfolio/{{ profile_safe_email }}/section/{{ section }}">
                    {{ section }}{% if section in sections_with_comments %}
                    <span class="section-message-counter">{{ sections_with_comments[section].num_comments }}</span>
                    {% endif %}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% block portfolio_content %}
{% endblock %}
{% endblock %}