{% extends "base.html" %}

{% block title %}{{ owner_name }} Portfolio{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/portfolio.css" />
{% endblock %}

{% block content %}
{% if is_reviewer %}
<div id="user-listing">
    <h3>Portfolios</h3>
    {% for user in users %}
    <div class="user-listing-entry">
        {% if user.first_name == owner_first_name and user.last_name == owner_last_name %}
            [ {{ user.first_name }} {{ user.last_name }} ]
        {% else %}
            <a href="/portfolio/{{ user.safe_email }}/overview">{{ user.first_name }} {{ user.last_name }}</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="content-title-container">
    <h1 id="title">Comments on {{ owner_name }} Portfolio</h1>
    <div id="subtitle">
        <ul id="sections-list">
            <li>
                <a href="/portfolio/{{ profile_safe_email }}/overview">
                    {% if cur_section == "overview" %}
                    [ overview ]
                    {% else %}
                    overview
                    {% endif %}
                </a>
            </li>
            {% for section in sections %}
            <li>
                <a href="/portfolio/{{ profile_safe_email }}/section/{{ section }}">
                    {% if cur_section == section %}[{% endif %}
                    {{ section }}{% if section in sections_with_comments %}
                    <span class="section-comment-counter">{{ sections_with_comments[section].num_comments }}</span>
                    {% endif %}
                    {% if cur_section == section %}]{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% block portfolio_content %}
{% endblock %}
{% endblock %}