{% extends "portfolio_base.html" %}

{% block portfolio_content %}
<div id="comment-panel-container">
    <div id="comment-panel">
        <form id="add-comment-form" method="POST">
            <fieldset>
                <div class="textarea">
                    <textarea name="comment-contents" id="comment-input"></textarea>
                </div>
                <div id="comment-submit-button-container">
                    <input class="btn btn-success" id="comment-submit-button" type="submit" value="Add Message">
                </div>
            </fieldset>
        </form>
        <div id="legend">
            <legend class="">Messages</legend>
        </div>
        {% for comment in new_comments %}
            <div class="comment">
                <span class="new-indicator"></span>
                <div class="comment-header">
                    {{ comment.author_email }} at {{ comment.timestamp.strftime("%Y-%m-%d") }}
                </div>
                {{ comment.contents|safe }}
            </div>
        {% endfor %}
        {% for comment in old_comments %}
            <div class="comment">
                <div class="comment-header">
                    {{ comment.author_email }} at {{ comment.timestamp.strftime("%Y-%m-%d") }}
                </div>
                {{ comment.contents|safe }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}