{% extends "portfolio_base.html" %}

{% block portfolio_content %}
<div id="status-panel">
    {% if section_statuses.values() %}
        You have unread comments in the following sections:
        <ul>
        {% for section_name, section_count in section_statuses.items() %}
            <li><a href="/portfolio/{{ profile_safe_email }}/section/{{ section_name }}">{{ section_name }} ({{ section_count }})</a></li>
        {% endfor %}
        <ul>
    {% else %}
        <div class="status-text">
            No new comments on this portfolio.
        </div>
    {% endif %}
</div>
{% endblock %}