{% extends "portfolio_base.html" %}

{% block portfolio_content %}
<div id="message-panel-container">
    <div id="message-panel">
        <form id="add-message-form" method="POST">
            <fieldset>
                <div class="textarea">
                    <textarea name="message-contents" id="message-input"></textarea>
                </div>
                <div id="message-submit-button-container">
                    <input class="btn btn-success" id="message-submit-button" type="submit" value="Add Message">
                </div>
            </fieldset>
        </form>
        <div id="legend">
            <legend class="">Messages</legend>
        </div>
        {% for message in new_messages %}
            <div class="message">
                <span class="new-indicator"></span>
                <div class="message-header">
                    {{ message.author_email }} at {{ message.timestamp.strftime('%Y-%m-%d') }}
                </div>
                {{ message.contents|safe }}
            </div>
        {% endfor %}
        {% for message in old_messages %}
            <div class="message">
                <div class="message-header">
                    {{ message.author_email }} at {{ message.timestamp.strftime('%Y-%m-%d') }}
                </div>
                {{ message.contents|safe }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}