{% extends "base.html" %}

{% block title %}{{ owner_name }} Portfolio{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/portfolio.css" />
{% endblock %}

{% block content %}
<div class="content-title-container">
    <div class="comment-panel">
        <h1 id="title">Comments on {{ owner_name }} Portfolio</h1>
        <div id="subtitle">
            <ul id="sections-list">
                <li>
                    <a href="/portfolio/{{ profile_safe_email }}/overview">
                        {% if cur_section == "overview" %}
                        [ overview ]
                        {% else %}
                        overview
                        {% endif %}
                    </a>
                </li>
                {% for section in sections %}
                <li>
                    <a href="/portfolio/{{ profile_safe_email }}/section/{{ section }}">
                        {% if cur_section == section %}[{% endif %}
                        {{ section }}{% if section in section_statuses %}
                        <span class="section-comment-counter">{{ section_statuses[section] }}</span>
                        {% endif %}
                        {% if cur_section == section %}]{% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% block portfolio_content %}
{% endblock %}
{% endblock %}